<div class="card mt-5">
  <div class="card-body">
      <h4 class="text-center">Registro de preguntas</h4>
      <form #pregutForm="ngForm" (ngSubmit)="onSubmit(pregutForm)">
          <input type="hidden" name="id" [(ngModel)]="pregutService.selectPregut.id">

          <div class="form-group mb-3">
            <input type="text" class="form-control" name="preguntas"
            [(ngModel)]="pregutService.selectPregut.preguntas"
              placeholder="PREGUNTAS">
  </div>
      <div class="form-group mb-3">
          <input type="text" class="form-control" name="respuestas"
            [(ngModel)]="pregutService.selectPregut.respuestas"
               placeholder="RESPUESTAS">
  </div>

  <div class="form-group ">
    <button class="btn btn-primary me-2" type="submit">
        <i class="fas fa-plus-circle" ></i> Agregar
    </button>
    <button class="btn btn-secondary me-2" type="reset" (click)="resetForm(pregutForm)">
        <i class="fas fa-sync-alt"></i> Resetear
    </button>
    <button class="btn btn-secondary" type="button" routerLink="/add-pregunta">
      <i class="fas fa-hand-point-left"></i> Cancelar
  </button>
  </div>
</form>
</div>
</div>
