 <h1 class="pt-3">GESTION DE DATOS</h1>

<a class="btn btn-primary mt-2" (click)="onAdd()">
      <i class="fas fa-user-plus"></i> Agregar
    </a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRES</th>
      <th scope="col">APELLIDOS</th>
      <th scope="col">DNI</th>
      <th scope="col">CELULAR</th>
      <th scope="col">SEXO</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaClientes">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.nombres }}</td>
      <td>{{ item.apellidos }}</td>
      <td>{{ item.dni }}</td>
      <td>{{ item.celular }}</td>
      <td>{{ item.sexo }}</td>
      <td>
        <a class="btn btn-success" (click)="onEdit(item)">Editar</a>  |
        <a class="btn btn-danger" (click)="onDelete(item.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
