
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img src="https://www.pngitem.com/pimgs/m/516-5165151_personas-sin-fondo-png-transparent-png.png"
                height="150" width="150">
              <h1 class="¿">¡Hola!</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">En esta pagina te diagnosticaremos para
              que puedas tomar agua como realmente necesitas</h2>
              <p class="">A continuacion te haremos preguntas
                que puedas responder ,
                requeriremos de tu informacion personal</p>
              <a class="btn btn-primary btn-xl" href="lista-clientes">Continuar</a>
          </div>
          <p class="">informacion de los 8 Remedios Naturales</p>
          <i class="bi bi-arrow-down"></i>
      </div>
  </div>
</header>

<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">

          <div class="col-lg-8 align-self-end">
            <img class=""src="https://cdn-icons-png.flaticon.com/512/2533/2533925.png" height="130" width="130">
              <h1 class="h1">EL AIRE PURO</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">El oxígeno es esencial para la vida. Respire aire puro para mantener una buena salud.</h2>
              <p class="">1</p>

          </div>
      </div>
  </div>
</header>
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img src="https://png.pngtree.com/element_our/20190531/ourmid/pngtree-comfortable-boy-image_1317913.jpg" height="130" width="130">

              <h1 class="h1">EL REPOSO</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">El descanso promueve la eficiencia mental y física, reanimando las defensas del organismo.
              El uso sabio del reposo nos da salud y restauración.</h2>
              <p class="">2</p>

          </div>
      </div>
  </div>
</header>

<header class="masthead">
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <img src="https://cdn-icons-png.flaticon.com/512/2934/2934108.png" height="130" width="130">

            <h1 class="h1">LA ALIMENTACIÓN</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <h2 class="">Todas las células y tejidos de nuestro cuerpo se forman por el alimento que ingerimos.</h2>
            <p class="">3</p>
        </div>
    </div>
</div>
</header>
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img src="https://cdn-icons-png.flaticon.com/512/3717/3717054.png" height="130" width="130">

              <h1 class="h1">EL AGUA</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">El agua en nuestro cuerpo se encuentra tanto en las células de los tejidos como en el espacio que las rodea. 60% del peso de un adulto es agua, en los bebés es de 70%.</h2>
              <p class="">4</p>
          </div>
      </div>
  </div>
</header>
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img src="https://cdn-icons-png.flaticon.com/512/1668/1668531.png" height="130" width="130">
              <h1 class="h1">EL EJERCICIO</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">Todos sabemos que la actividad física nos hace bien, pero pocos le damos la prioridad  de cuan absolutamente vital es para la conservación de la buena salud.</h2>
              <p class="">5</p>

          </div>
      </div>
  </div>
</header>

<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img src="https://cdn-icons-png.flaticon.com/512/2906/2906515.png" height="130" width="130">
              <h1 class="h1">LA TEMPERANCIA</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">La temperancia es el uso moderado e inteligente de todo lo bueno y la abstinencia de todo lo perjudicial.

          </h2>
              <p class="">6</p>

          </div>
      </div>
  </div>
</header>

<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">

            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1312/1312526.png" height="130" width="130">
              <h1 class="h1">LA ESPERANZA Y CONFIANZA</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">Si podemos reconocer que en el universo hay inteligencia y propósito, el paso lógico siguiente consiste en buscar a su Creador.

          </h2>
              <p class="">7</p>

          </div>
      </div>
  </div>
</header>

<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <img class="" src="https://cdn-icons-png.flaticon.com/512/1974/1974100.png" height="130" width="130">

              <h1 class="h1">LA LUZ DEL SOL</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <h2 class="">La vida no puede existir ni funcionar sin la luz solar.

          </h2>
              <p class="">8</p>

          </div>
      </div>
  </div>
</header>

<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - DAWI PRO</div></div>
</footer>

